.advertise-button[data-v-6263ad6f] {
  background: linear-gradient(102.81deg, #f90, #fac454);
  border-radius: 2rem;
  color: #fff;
  border: none;
  padding: 10px 24px;
  font-size: 16px;
  margin-top: 40px;
}
.top-10[data-v-eb2e1faa] {
  top: -20px;
}
@media (max-width: 1800px) {
  .page-auth[data-v-eb2e1faa] {
    height: 100%;
  }
}
@media screen and (max-height: 730px) {
  .register-container[data-v-eb2e1faa] {
    top: 0;
  }
}
.block[data-v-eb2e1faa] {
  display: inline-block;
  width: 30%;
  height: 200px;
  border: 1px solid #000;
  text-align: center;
}
.tag-slot[data-v-eb2e1faa] {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 15px;
  grid-gap: 15px;
  gap: 15px;
}
.tag-slot .search-tags-footer[data-v-eb2e1faa] {
  padding: 23px;
  border-radius: 12px;
  background: #f3f5f7;
  border: 1px solid transparent;
  text-align: center;
  color: #303030;
  transition: all 0.2s ease-in-out;
  letter-spacing: 0.1px;
}
.tag-slot .search-tags-footer .tags-title[data-v-eb2e1faa] {
  font-size: 24px;
  font-weight: 700;
}
.tag-slot .search-tags-footer .tags-des[data-v-eb2e1faa] {
  color: #303030;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.layout[data-v-eb2e1faa] {
  display: flex;
  flex-wrap: wrap;
  margin-top: -1em;
  margin-left: 3.5em;
  align-items: center;
}
.layout[data-v-eb2e1faa]:not(:first-of-type) {
  margin-top: 15px;
}
.layout[data-v-eb2e1faa]:nth-child(odd) {
  flex-direction: row-reverse;
}
.layout__item[data-v-eb2e1faa] {
  padding-top: 1em;
  padding-left: 3.5em;
}
.layout__item--body[data-v-eb2e1faa] {
  flex-grow: 9999;
  flex-basis: 15rem;
}
.layout__item--figure[data-v-eb2e1faa] {
  margin-right: auto;
  flex-grow: 1;
}
@supports (
  (max-width: -webkit-max-content) or (max-width: -moz-max-content) or
    (max-width: max-content)
) {
  .layout__item--figure[data-v-eb2e1faa] {
    min-width: 15rem;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    flex-basis: 15rem;
    flex-grow: 9999;
  }
}
@media (max-width: 1024px) {
  .layout[data-v-eb2e1faa] {
    display: block;
    margin-top: 1em;
    margin-left: 0;
    align-items: center;
  }
}
img[data-v-eb2e1faa] {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
}
.layout__item * + [data-v-eb2e1faa] {
  margin-top: 10px;
}
.step-left strong[data-v-eb2e1faa] {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(102.81deg, #f90, #fac454);
}
